body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.intro {
  padding: 15px;
  text-align: center;
}
.lead {
	margin: 0;
}
/* Dot afer each link in block with the class links*/
.links a:after {
    content: " • ";
}
p.li:before {
	content: "• ";
}
h3 {
    text-transform: uppercase;
}

/* Indent p. Do no indent the first line of p*/
/* text-indent only works fo the first line */
p {
    text-indent:-0.6em;
    margin-left:0.6em;
}