body {
  padding-top: 50px;
}
.intro {
  padding: 40px 15px 0 15px;
  text-align: center;
}
.intro {
  padding: 15px;
  text-align: center;
}
.content {
  /*text-align: center;*/
}
.lead {
	margin: 0;
}
ul {
/*    width: 50%;*/
    margin: auto;
	text-align: left;
}
ul.links a:after {
		content: " | "
}
.content a:after {
		content: " | "
}